:root {
  --bg: #f9f9f9;
  --text: #222;
  --card: #ffffff;
}

body {
  background: var(--bg);
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  background: #f9f9f9;
 
  color: var(--text);
}

li {
  background: var(--card);
}

body.dark {
  --bg: #121212;
  --text: #f1f1f1;
  --card: #1e1e1e;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

h1, h2 {
  color: #222;
}

section {
  margin-bottom: 3rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}
